<section class="mission">
    <div class="container">
        <div class="mission__inner">
            <div class="mission__wrap" style="background-image: url(../images/about_us/photo.png)"></div>
            <div class="mission__info">
                <div class="mission__top">
                    <div class="mission__num">12</div>
                    <ul class="mission__words">
                        <li>Years</li>
                        <li>Expirience</li>
                        <li>Working</li>
                    </ul>
                </div>
                <div class="mission__descr">
                    <h2 class="mission__title title">Mission of our creative house</h2>
                    <div class="mission__text">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum
                        </p>
                    </div>
                </div>
                <ul class="mission__bottom">
                    <li class="mission__item">
                        <div class="mission__box mission__box--project">
                            <span>520+</span>
                            <p>Projects</p>
                        </div>
                    </li>
                    <li class="mission__item">
                        <div class="mission__box mission__box--revenue">
                            <span>$4M</span>
                            <p>Revenue</p>
                        </div>
                    </li>
                    <li class="mission__item">
                        <div class="mission__box mission__box--awards">
                            <span>250</span>
                            <p>Awards</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>