<section class="team">
    <div class="container">
        <div class="team__inner">
            <div class="team__info">
                <h2 class="team__title title">Our Team</h2>
                <div class="team__text">
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod
                        tempor inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </p>
                </div>
                <a class="team__link" href="#">
                    <span>Join With US</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
            <ul class="team__list">
                <li class="team__item">
                    <article class="team-member">
                        <div class="team-member__wrap">
                            <img class="team-member__img" src="images/about_us/team/1.png" alt="team member photo">
                        </div>
                        <div class="team-member__descr">
                            <div class="team-member__info">
                                <p class="team-member__name">Eliza Elliot</p>
                                <span class="team-member__position">Commodo tempor</span>
                            </div>
                            <ul class="team-member__social">
                                <li class="team-member__item">
                                    <a class="team-member__link btn-circle" href="#">
                                        <span class="visually-hidden">click on this link opens team members profile in instagram</span>
                                        <svg>
                                            <use xlink:href="images/sprite.svg#instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-member__item">
                                    <a class="team-member__link btn-circle" href="#">
                                        <span class="visually-hidden">click on this link opens team members profile in google+</span>
                                        <svg>
                                            <use xlink:href="images/sprite.svg#google+"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>

                <li class="team__item">
                    <article class="team-member">
                        <div class="team-member__wrap">
                            <img class="team-member__img" src="images/about_us/team/2.png" alt="team member photo">
                        </div>
                        <div class="team-member__descr">
                            <div class="team-member__info">
                                <p class="team-member__name">Roscoe A.</p>
                                <span class="team-member__position">Commodo tempor</span>
                            </div>
                            <ul class="team-member__social">
                                <li class="team-member__item">
                                    <a class="team-member__link btn-circle" href="#">
                                        <span class="visually-hidden">click on this link opens team members profile in instagram</span>
                                        <svg>
                                            <use xlink:href="images/sprite.svg#instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-member__item">
                                    <a class="team-member__link btn-circle" href="#">
                                        <span class="visually-hidden">click on this link opens team members profile in google+</span>
                                        <svg>
                                            <use xlink:href="images/sprite.svg#google+"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>

                <li class="team__item">
                    <article class="team-member">
                        <div class="team-member__wrap">
                            <img class="team-member__img" src="images/about_us/team/3.png" alt="team member photo">
                        </div>
                        <div class="team-member__descr">
                            <div class="team-member__info">
                                <p class="team-member__name">Ruby M.</p>
                                <span class="team-member__position">Commodo tempor</span>
                            </div>
                            <ul class="team-member__social">
                                <li class="team-member__item">
                                    <a class="team-member__link btn-circle" href="#">
                                        <span class="visually-hidden">click on this link opens team members profile in instagram</span>
                                        <svg>
                                            <use xlink:href="images/sprite.svg#instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-member__item">
                                    <a class="team-member__link btn-circle" href="#">
                                        <span class="visually-hidden">click on this link opens team members profile in google+</span>
                                        <svg>
                                            <use xlink:href="images/sprite.svg#google+"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>

                <li class="team__item">
                    <article class="team-member">
                        <div class="team-member__wrap">
                            <img class="team-member__img" src="images/about_us/team/4.png" alt="team member photo">
                        </div>
                        <div class="team-member__descr">
                            <div class="team-member__info">
                                <p class="team-member__name">Marie F. Bloss</p>
                                <span class="team-member__position">Commodo tempor</span>
                            </div>
                            <ul class="team-member__social">
                                <li class="team-member__item">
                                    <a class="team-member__link btn-circle" href="#">
                                        <span class="visually-hidden">click on this link opens team members profile in instagram</span>
                                        <svg>
                                            <use xlink:href="images/sprite.svg#instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team-member__item">
                                    <a class="team-member__link btn-circle" href="#">
                                        <span class="visually-hidden">click on this link opens team members profile in google+</span>
                                        <svg>
                                            <use xlink:href="images/sprite.svg#google+"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>