$title-color: #243f4d;
$header-color: #436372;
$bg-color: #fcd7b6;
$btn-color: #a3bbc8;
$footer-color: #7b7b7b;

%hover-link {
  transition: color 0.5s;

  &:hover {
    color: $btn-color;
  }
}

%poppins-700 {
  font-family: 'Poppins-Bold', 'Tahoma', sans-serif;
  font-weight: 700;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', 'Tahoma', sans-serif;
  font-weight: 700;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', 'Tahoma', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', 'Tahoma', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', 'Tahoma', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik-Regular', 'Tahoma', sans-serif;
  font-weight: 400;
}