.address__item a, .footer__nav-link, .footer__link {
  transition: color 0.5s;
}
.address__item a:hover, .footer__nav-link:hover, .footer__link:hover {
  color: #a3bbc8;
}

.footer__title, .card__price, .gallery__filter, .gallery__title, .advantages__title {
  font-family: "DMSans-Bold", "Tahoma", sans-serif;
  font-weight: 700;
}

.card__title {
  font-family: "DMSans-Medium", "Tahoma", sans-serif;
  font-weight: 500;
}

.footer__form-btn, .footer__form-input::placeholder, .advantages__descr, .user-nav__count {
  font-family: "DMSans-Regular", "Tahoma", sans-serif;
  font-weight: 400;
}

.slick-dots li button, .hero__link, .hero__title, .menu__link, .logo {
  font-family: "Rubik-Medium", "Tahoma", sans-serif;
  font-weight: 500;
}

.address, .footer__bottom, .footer__link, .footer__item p, .hero__inner {
  font-family: "Rubik-Regular", "Tahoma", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-Bold", "Tahoma", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Bold", "Tahoma", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("DMSans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Medium", "Tahoma", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("DMSans-Medium"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Regular", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Medium", "Tahoma", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Regular", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  line-height: 1.9;
  background-color: #FFFFFF;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.container--big {
  max-width: 1800px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

button,
a,
textarea,
input {
  outline: transparent;
}
button:focus,
a:focus,
textarea:focus,
input:focus {
  border: 1px solid #243f4d;
}

/*header*/
.header {
  padding: 48px 0 45px;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #FFFFFF;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #436372;
  font-size: 36px;
  line-height: 1.6;
  transition: transform 0.5s ease;
}
.logo::before {
  content: url("../images/icons/logo.svg");
  width: 51px;
  height: 39px;
  margin-right: 13px;
}
.logo:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
}
.menu__list:not(:last-child) {
  margin-right: 35px;
}
.menu__link {
  font-size: 15px;
  line-height: 1;
  color: #436372;
}
.menu__list {
  transition: transform 0.5s ease;
}
.menu__list:hover {
  transform: scale(1.1);
}

.user-nav {
  display: flex;
}
.user-nav__btn:not(:last-child) {
  margin-right: 20px;
}
.user-nav__btn {
  padding: 0;
  border: transparent;
  background-color: #a3bbc8;
  width: 51px;
  height: 52px;
  border-radius: 50%;
  transition: opacity 0.5s ease;
  cursor: pointer;
  position: relative;
}
.user-nav__btn:hover {
  opacity: 0.2;
}
.user-nav__btn::before {
  content: "";
  position: absolute;
}
.user-nav__btn--search::before {
  background-image: url("../images/icons/search-icon.svg");
  width: 15px;
  height: 15px;
  top: 37%;
  left: 35%;
}
.user-nav__btn--dots::before {
  background-image: url("../images/icons/dots-icon.svg");
  width: 20px;
  height: 20px;
  top: 30%;
  left: 32%;
}
.user-nav__items {
  margin-right: 20px;
  width: 178px;
  height: 52px;
  background-color: #fcd7b6;
  border-radius: 35px/25px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.user-nav__between {
  line-height: 50px;
  font-size: 32px;
  color: #FFFFFF;
  opacity: 0.4;
}
.user-nav__link {
  position: relative;
  padding: 20px 40px;
  transition: transform 0.5s ease;
}
.user-nav__link:hover {
  transform: scale(1.1);
}
.user-nav__link::before {
  content: "";
  position: absolute;
  top: 40%;
}
.user-nav__link--like::before {
  background-image: url("../images/icons/like-icon.svg");
  width: 18px;
  height: 16px;
}
.user-nav__link--cart::before {
  background-image: url("../images/icons/cart-icon.svg");
  width: 19px;
  height: 17px;
  right: 45%;
}
.user-nav__count {
  color: #243f4d;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  line-height: 1;
  text-align: center;
  top: 30%;
  right: 15%;
}
.user-nav__count--right {
  right: 30%;
}

/*hero*/
.hero {
  padding-top: 150px;
  position: relative;
}
.hero__item {
  height: calc(100vh - 150px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__inner {
  height: calc(100vh - 230px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  color: #436372;
  line-height: 1.7;
  max-width: 400px;
}
.hero p {
  margin-bottom: 40px;
}
.hero__title {
  font-size: 72px;
  line-height: 1;
  color: #243f4d;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.hero__link {
  color: #FFFFFF;
  font-size: 15px;
  background-color: #a3bbc8;
  max-width: 200px;
  padding: 17px 0 17px 27px;
  transition: opacity 0.5s ease;
}
.hero__link::after {
  content: url("../images/icons/arrow.svg");
  margin-left: 60px;
}
.hero__link:hover {
  opacity: 0.2;
}

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 45px;
}
.slick-dots li:not(:last-child) {
  margin-right: 10px;
}
.slick-dots li button {
  color: #243f4d;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 11px;
  line-height: 1;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}
.slick-dots li button:hover {
  opacity: 1;
}

.advantages__items {
  display: flex;
  margin-bottom: 75px;
}
.advantages__item {
  display: flex;
  align-items: center;
  background-color: rgba(252, 215, 182, 0.2);
  width: 100%;
  padding: 48px 130px 48px 150px;
}
.advantages__item:not(:last-child) {
  border-right: 1px solid rgba(36, 63, 77, 0.1);
}
.advantages__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 80px;
  background-position: center left;
  background-repeat: no-repeat;
}
.advantages__info--support {
  background-image: url("../images/icons/support.svg");
}
.advantages__info--delivery {
  background-image: url("../images/icons/delivery-icon.svg");
}
.advantages__info--credit {
  background-image: url("../images/icons/credit-icon.svg");
}
.advantages__title {
  font-size: 18px;
  color: #414141;
  align-self: flex-start;
  background-position: top left;
  background-repeat: no-repeat;
}
.advantages__descr {
  font-size: 16px;
  color: #585858;
}

/*gallery*/
.gallery {
  margin-bottom: 180px;
}
.gallery__title {
  text-align: center;
  font-size: 36px;
  color: #191919;
}
.gallery__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.gallery__item:not(:last-child) {
  margin-right: 30px;
}
.gallery__btn {
  padding: 0;
  font-size: 16px;
  color: #8b8b8b;
  transition: color 0.5s ease;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.gallery__btn:hover {
  color: #1a1a1a;
}
.gallery__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/*card*/
.card {
  margin: 0 15px 40px;
  padding: 27px 15px 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100%/4 - 30px);
  min-height: 380px;
  border-radius: 10px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  text-align: center;
}
.card__img {
  margin: auto;
}
.card__title {
  line-height: 2.5;
}
.card__price {
  color: #a3bbc8;
}
.card:hover .card__nav {
  opacity: 1;
}

/*card-nav*/
.card__nav {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.card__nav-item:not(:last-child) {
  margin-right: 15px;
}
.card__btn {
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  background-color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease, fill 0.5s ease;
}
.card__btn:hover {
  background-color: #a3bbc8;
}
.card__btn:hover svg path {
  fill: #FFFFFF;
}

.footer {
  padding: 100px 0 40px;
  font-size: 14px;
  color: #7b7b7b;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-bottom: 75px;
  border-bottom: 1px solid rgba(163, 187, 200, 0.4);
}
.footer__item {
  padding-top: 20px;
  width: 100%;
  max-width: 270px;
}
.footer__item p {
  margin-bottom: 35px;
}
.footer__title {
  margin-bottom: 25px;
  font-size: 16px;
  text-transform: uppercase;
}
.footer__box:not(:last-child) {
  margin-bottom: 10px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__nav {
  display: flex;
}
.footer__nav-item:not(:first-child) {
  padding-left: 15px;
  border-left: 1px solid #7b7b7b;
}
.footer__nav-item:not(:last-child) {
  padding-right: 15px;
}
.footer__form-input {
  padding: 12px 15px;
  width: 100%;
  max-width: 170px;
  border: none;
  background-color: rgba(252, 215, 182, 0.2);
}
.footer__form-input::placeholder {
  font-size: 12px;
  color: #234969;
}
.footer__form-btn {
  padding: 12px 16px;
  border: none;
  color: #FFFFFF;
  background-color: #a3bbc8;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.footer__form-btn:hover {
  opacity: 0.2;
}

.address {
  width: 100%;
  max-width: 270px;
}
.address__item:not(:last-child) {
  margin-bottom: 15px;
}
.address__item p:not(:last-child) {
  margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
