@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

/*header*/

.header {
  padding: 48px 0 45px;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #FFFFFF;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  @extend %rubik-500;
  color: $header-color;
  font-size: 36px;
  line-height: 1.6;
  transition: transform 0.5s ease;

  &::before {
    content: url("../images/icons/logo.svg");
    width: 51px;
    height: 39px;
    margin-right: 13px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.menu {
  display: flex;

  &__list:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: $header-color;
  }

  &__list {
    transition: transform 0.5s ease;
  }

  &__list:hover {
    transform: scale(1.1);
  }
}

.user-nav {
  display: flex;

  &__btn:not(:last-child){
    margin-right: 20px;
  }

  &__btn {
    padding: 0;
    border: transparent;
    background-color: $btn-color;
    width: 51px;
    height: 52px;
    border-radius: 50%;
    transition: opacity 0.5s ease;
    cursor: pointer;
    position: relative;

    &:hover {
      opacity: 0.2;
    }

    &::before {
      content: "";
      position: absolute;
    }

    &--search::before {
      background-image: url("../images/icons/search-icon.svg");
      width: 15px;
      height: 15px;
      top: 37%;
      left: 35%;
    }

    &--dots::before {
      background-image: url("../images/icons/dots-icon.svg");
      width: 20px;
      height: 20px;
      top: 30%;
      left: 32%;
    }
  }

  &__items {
    margin-right: 20px;
    width: 178px;
    height: 52px;
    background-color: #fcd7b6;
    border-radius: 35px / 25px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }

  &__between {
    line-height: 50px;
    font-size: 32px;
    color: #FFFFFF;
    opacity: 0.4;
  }

  &__link {
    position: relative;
    padding: 20px 40px;
    transition: transform 0.5s ease;
  }

  &__link:hover {
    transform: scale(1.1);
  }

  &__link::before {
    content: "";
    position: absolute;
    top: 40%;
  }

  &__link--like::before {
    background-image: url("../images/icons/like-icon.svg");
    width: 18px;
    height: 16px;
  }

  &__link--cart::before {
    background-image: url("../images/icons/cart-icon.svg");
    width: 19px;
    height: 17px;
    right: 45%;
  }

  &__count {
    @extend %dmsans-400;
    color: $title-color;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFFFFF;
    line-height: 1;
    text-align: center;
    top: 30%;
    right: 15%;

    &--right {
      right: 30%;
    }
  }
}

/*hero*/

.hero {
  padding-top: 150px;
  position: relative;

  &__item {
    height: calc(100vh - 150px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__inner {
    height: calc(100vh - 230px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    @extend %rubik-400;
    color: $header-color;
    line-height: 1.7;
    max-width: 400px;
  }

  & p {
    margin-bottom: 40px;
  }

  &__title {
    @extend  %rubik-500;
    font-size: 72px;
    line-height: 1;
    color: $title-color;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  &__link {
    @extend  %rubik-500;
    color: #FFFFFF;
    font-size: 15px;
    background-color: $btn-color;
    max-width: 200px;
    padding: 17px 0 17px 27px;
    transition: opacity 0.5s ease;

    &::after {
      content: url("../images/icons/arrow.svg");
      margin-left: 60px;
    }

    &:hover {
      opacity: 0.2;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 45px;

  li:not(:last-child) {
    margin-right: 10px;
  }

  li {
    button {
      @extend %rubik-500;
      color: $title-color;
      padding: 0;
      width: 30px;
      height: 30px;
      font-size: 11px;
      line-height: 1;
      background-color: #FFFFFF;
      border: none;
      border-radius: 50%;
      opacity: 0.3;
      transition: opacity 0.5s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.advantages {

  &__items {
    display: flex;
    margin-bottom: 75px;
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: rgba($bg-color, 0.2);
    width: 100%;
    padding: 48px 130px 48px 150px;

    &:not(:last-child) {
      border-right: 1px solid rgba($title-color, 0.1);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 80px;
    background-position: center left;
    background-repeat: no-repeat;

    &--support {
      background-image: url("../images/icons/support.svg");
    }

    &--delivery {
      background-image: url("../images/icons/delivery-icon.svg");
    }

    &--credit {
      background-image: url("../images/icons/credit-icon.svg");
    }
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    color: #414141;
    align-self: flex-start;
    background-position: top left;
    background-repeat: no-repeat;
  }

  &__descr {
    @extend %dmsans-400;
    font-size: 16px;
    color: #585858;
  }
}

/*gallery*/

.gallery {
  margin-bottom: 180px;

  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    color: #191919;
  }

  &__filter {
    @extend %dmsans-700;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__btn {
    padding: 0;
    font-size: 16px;
    color: #8b8b8b;
    transition: color 0.5s ease;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
      color: #1a1a1a;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

/*card*/

.card {
  margin: 0 15px 40px;
  padding: 27px 15px 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100%/4 - 30px);
  min-height: 380px;
  border-radius: 10px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  text-align: center;

  &__img {
    margin: auto;
  }

  &__title {
    @extend %dmsans-500;
    line-height: 2.5;
  }

  &__price {
    @extend %dmsans-700;
    color: $btn-color;
  }

  &:hover {
    .card__nav {
      opacity: 1;
    }
  }
}

/*card-nav*/

.card {
  &__nav {
    display: flex;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &__nav-item:not(:last-child) {
    margin-right: 15px;
  }

  &__btn {
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease,
    fill 0.5s ease;

    &:hover {
      background-color: $btn-color;
      svg path {
        fill: #FFFFFF;
      }
    }
  }
}

.footer {
  padding: 100px 0 40px;
  font-size: 14px;
  color: $footer-color;

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-bottom: 75px;
    border-bottom: 1px solid rgba($btn-color, 0.4);
  }

  &__item {
    padding-top: 20px;
    width: 100%;
    max-width: 270px;
    p {
      margin-bottom: 35px;
      @extend %rubik-400;
    }
  }

  &__title {
    margin-bottom: 25px;
    @extend %dmsans-700;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__box:not(:last-child) {
    margin-bottom: 10px;
  }

  &__link {
    @extend %rubik-400;
    @extend %hover-link;
  }

  &__bottom {
    @extend %rubik-400;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
  }

  &__nav-link {
    @extend %hover-link;
  }

  &__nav-item {
    &:not(:first-child) {
      padding-left: 15px;
      border-left: 1px solid $footer-color;
    }

    &:not(:last-child) {
      padding-right: 15px;
    }
  }

  &__form-input {
    padding: 12px 15px;
    width: 100%;
    max-width: 170px;
    border: none;
    background-color: rgba($bg-color, 0.2);

    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn {
    @extend %dmsans-400;
    padding: 12px 16px;
    border: none;
    color: #FFFFFF;
    background-color: $btn-color;
    transition: opacity 0.5s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.2;
    }
  }
}

.address {
  @extend %rubik-400;
  width: 100%;
  max-width: 270px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    p:not(:last-child) {
      margin-bottom: 5px;
    }

    a {
      @extend %hover-link;
    }
  }
}



@import "media";