@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
.user-nav__count {
  font-family: "DMSans-Regular", "Tahoma", sans-serif;
  font-weight: 400;
}

.menu__link, .logo {
  font-family: "Rubik-Medium", "Tahoma", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins-Bold", "Tahoma", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Bold", "Tahoma", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local("DMSans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Medium", "Tahoma", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("DMSans-Medium"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Regular", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Medium", "Tahoma", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Regular", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  line-height: 1.9;
  background-color: #FFFFFF;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.container--big {
  max-width: 1800px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

button,
a,
textarea,
input {
  outline: transparent;
}
button:focus,
a:focus,
textarea:focus,
input:focus {
  border: 1px solid #243f4d;
  border-radius: 25%/40%;
}

/*header*/
.header {
  padding: 48px 0 45px;
  position: fixed;
  width: 100%;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #436372;
  font-size: 36px;
  line-height: 1.6;
  transition: transform 0.5s ease;
}
.logo::before {
  content: url("../images/icons/logo.svg");
  width: 51px;
  height: 39px;
  margin-right: 13px;
}
.logo:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
}
.menu__list:not(:last-child) {
  margin-right: 35px;
}
.menu__link {
  font-size: 15px;
  line-height: 1;
  color: #436372;
}
.menu__list {
  transition: transform 0.5s ease;
}
.menu__list:hover {
  transform: scale(1.1);
}

.user-nav {
  display: flex;
}
.user-nav__btn:not(:last-child) {
  margin-right: 20px;
}
.user-nav__btn {
  padding: 0;
  border: transparent;
  background-color: #a3bbc8;
  width: 51px;
  height: 52px;
  border-radius: 50%;
  transition: opacity 0.5s ease;
  cursor: pointer;
  position: relative;
}
.user-nav__btn:hover {
  opacity: 0.2;
}
.user-nav__btn::before {
  content: "";
  position: absolute;
}
.user-nav__btn--search::before {
  background-image: url("../images/icons/search-icon.svg");
  width: 15px;
  height: 15px;
  top: 37%;
  left: 35%;
}
.user-nav__btn--dots::before {
  background-image: url("../images/icons/dots-icon.svg");
  width: 20px;
  height: 20px;
  top: 30%;
  left: 32%;
}
.user-nav__items {
  margin-right: 20px;
  width: 178px;
  height: 52px;
  background-color: #fcd7b6;
  border-radius: 35px/25px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.user-nav__between {
  line-height: 50px;
  font-size: 32px;
  color: #FFFFFF;
  opacity: 0.4;
}
.user-nav__link {
  position: relative;
  padding: 20px 40px;
  transition: transform 0.5s ease;
}
.user-nav__link:hover {
  transform: scale(1.1);
}
.user-nav__link::before {
  content: "";
  position: absolute;
  top: 40%;
}
.user-nav__link--like::before {
  background-image: url("../images/icons/like-icon.svg");
  width: 18px;
  height: 16px;
}
.user-nav__link--cart::before {
  background-image: url("../images/icons/cart-icon.svg");
  width: 19px;
  height: 17px;
  right: 45%;
}
.user-nav__count {
  color: #243f4d;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  line-height: 1;
  text-align: center;
  top: 30%;
  right: 15%;
}
.user-nav__count--right {
  right: 30%;
}

/*hero*/
.hero {
  padding-top: 150px;
}

/*# sourceMappingURL=style.css.map */
