@font-face {
  src: url("../../fonts/Poppins-Bold.woff2") format("woff2"), url("../../fonts/Poppins-Bold.woff") format("woff");
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
}
@font-face {
  src: url("../../fonts/DMSans-Bold.woff2") format("woff2"), url("../../fonts/DMSans-Bold.woff") format("woff");
  font-family: "DMSans";
  font-weight: 700;
  font-display: swap;
}
@font-face {
  src: url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.woff") format("woff");
  font-family: "DMSans";
  font-weight: 500;
  font-display: swap;
}
@font-face {
  src: url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.woff") format("woff");
  font-family: "DMSans";
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url("../../fonts/Rubik-Medium.woff2") format("woff2"), url("../../fonts/Rubik-Medium.woff") format("woff");
  font-family: "Rubik";
  font-weight: 500;
  font-display: swap;
}
@font-face {
  src: url("../../fonts/Rubik-Regular.woff2") format("woff2"), url("../../fonts/Rubik-Regular.woff") format("woff");
  font-family: "Rubik";
  font-weight: 400;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #436372;
  font-family: "DMSans", "Tahoma", sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.container--big {
  max-width: 1800px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

button {
  padding: 0;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

button,
a,
textarea,
input {
  outline: transparent;
  /*&:visited {
    color: $blue-dark;
  }*/
}
button:focus,
a:focus,
textarea:focus,
input:focus {
  border: 1px solid #436372;
}
button:active,
a:active,
textarea:active,
input:active {
  border: 1px solid #243f4d;
}

/*header*/
.header {
  flex: 1 0 auto;
}
.header__menu {
  padding-left: 168px;
}
.header__inner {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  max-width: 146px;
  max-height: 39px;
  transition: transform 0.5s ease;
}
.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
}
.menu__list:not(:last-child) {
  margin-right: 35px;
}
.menu__link {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.5s ease, color 0.5s ease;
}
.menu__link:hover {
  border-bottom-color: #243f4d;
  color: #243f4d;
}

.user-nav {
  display: flex;
}
.user-nav__btn {
  background-color: #a3bbc8;
}
.user-nav__btn--search svg, .user-nav__btn--menu svg {
  fill: #ffffff;
  transition: fill 0.5s;
}
.user-nav__btn--search svg {
  width: 16px;
  height: 16px;
}
.user-nav__btn--menu svg {
  width: 21px;
  height: 21px;
}
.user-nav__btn:not(:last-child) {
  margin-right: 20px;
}
.user-nav__btn:hover {
  background-color: rgba(163, 187, 200, 0.2);
}
.user-nav__btn:hover svg {
  fill: #243f4d;
}
.user-nav__items {
  margin-right: 20px;
  width: 178px;
  height: 52px;
  background-color: #fcd7b6;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.user-nav__items::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  top: 9px;
  bottom: 9px;
}
.user-nav__items svg {
  width: 19px;
  height: 17px;
  fill: #243f4d;
}
.user-nav__link {
  position: relative;
  padding: 20px 35px;
  transition: background-color 0.5s;
}
.user-nav__link svg {
  transition: fill 0.5s;
}
.user-nav__link--like {
  border-radius: 25px 0 0 25px;
}
.user-nav__link--cart {
  border-radius: 0 25px 25px 0;
}
.user-nav__link:hover {
  background-color: #a3bbc8;
}
.user-nav__link:hover svg {
  fill: #ffffff;
}
.user-nav__count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #243f4d;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 10px;
  top: 15px;
  right: 25px;
}

.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  transition: background-color 0.5s;
}

/*hero*/
.product-slider {
  position: relative;
}
.product-slider__items {
  background-color: #fcd7b6;
}
.product-slider__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 820px;
  min-width: 320px;
}
.product-slider__info {
  padding-bottom: 60px;
}
.product-slider__descr {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 35px;
  font-family: "Rubik", "Tahoma", sans-serif;
  font-size: 18px;
  max-width: 360px;
}
.product-slider__name {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 420px;
  margin-bottom: 25px;
  font-family: "Rubik", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 1;
  color: #243f4d;
  text-transform: uppercase;
}
.product-slider__link {
  display: inline-block;
  padding: 21px 27px;
  font-family: "Rubik", "Tahoma", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  background-color: #a3bbc8;
  transition: background-color 0.5s, color 0.5s;
}
.product-slider__link span {
  margin-right: 50px;
}
.product-slider__link svg {
  width: 22px;
  height: 9px;
  fill: #ffffff;
  transition: fill 0.5s;
}
.product-slider__link:hover {
  color: #a3bbc8;
  background-color: #ffffff;
}
.product-slider__link:hover svg {
  fill: #a3bbc8;
}
.product-slider__wrap {
  width: 650px;
  max-height: 100%;
  position: relative;
}
.product-slider__wrap::after {
  content: "";
  position: absolute;
  right: -20%;
  top: 50%;
  width: 634px;
  height: 634px;
  border-radius: 50%;
  background-image: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  transform: translateY(-50%);
  z-index: -1;
}
.product-slider__img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-slider .slick-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 45px;
}
.product-slider .slick-dots li.slick-active button {
  opacity: 1;
}
.product-slider .slick-dots li:not(:last-child) {
  margin-right: 10px;
}
.product-slider .slick-dots li button {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-weight: 500;
  color: #243f4d;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 11px;
  line-height: 1;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}
.product-slider .slick-dots li button:hover {
  opacity: 1;
}

/*advantages*/
.advantages__items {
  display: flex;
  margin-bottom: 65px;
}
.advantages__item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(252, 215, 182, 0.2);
  padding: 48px 0;
}
.advantages__item:not(:last-child) {
  border-right: 1px solid rgba(36, 63, 77, 0.1);
}
.advantages__info {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  background-position: center left;
  background-repeat: no-repeat;
}
.advantages__info--support {
  background-image: url("../images/icons/support-icon.svg");
}
.advantages__info--delivery {
  background-image: url("../images/icons/delivery-truck.svg");
}
.advantages__info--credit {
  background-image: url("../images/icons/credit-card.svg");
}
.advantages__title {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 700;
  font-size: 18px;
  color: #414141;
  background-position: top left;
  background-repeat: no-repeat;
}
.advantages__descr {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #585858;
}

/*gallery*/
.products-filter {
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.products-filter .mixitup-control-active {
  color: #1a1a1a;
}
.products-filter__item:not(:last-child) {
  margin-right: 30px;
}
.products-filter__btn {
  color: #8b8b8b;
  transition: color 0.5s ease;
}
.products-filter__btn:hover {
  color: #1a1a1a;
}

.products-week {
  margin-bottom: 186px;
}
.products-week__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #191919;
  margin-bottom: 15px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.products-week__items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.products-week__list {
  margin-right: 30px;
  margin-bottom: 40px;
  max-width: 270px;
}

.offers__items {
  display: flex;
  justify-content: space-between;
  padding-top: 126px;
}
.offers__item {
  flex-grow: 1;
  max-width: 870px;
  max-height: 390px;
  background-color: rgba(252, 215, 182, 0.4);
}
.offers__item:not(:last-child) {
  margin-right: 30px;
}

.offer-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 85px;
}
.offer-card__wrap {
  margin-top: -100px;
  margin-right: 20px;
}
.offer-card__info {
  padding-top: 75px;
}
.offer-card__title {
  margin-bottom: 24px;
  max-width: 250px;
  font-size: 26px;
  font-weight: 700;
  color: #243f4d;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.offer-card__desrc {
  font-family: "Rubik", "Tahoma", sans-serif;
  color: #243f4d;
  max-width: 330px;
  margin-bottom: 34px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.offer-card__link {
  display: inline-block;
  padding: 20px;
  font-family: "Rubik", "Tahoma", sans-serif;
  font-weight: 500;
  color: #436372;
  font-size: 15px;
  background-color: transparent;
  border: solid 1px #436372;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}
.offer-card__link span {
  margin-right: 44px;
}
.offer-card__link svg {
  width: 22px;
  height: 9px;
  fill: #436372;
  transition: fill 0.5s;
}
.offer-card__link:hover {
  color: #fcd7b6;
  background-color: #436372;
}
.offer-card__link:hover svg {
  fill: #fcd7b6;
}

/*card*/
.product-card {
  padding: 27px 15px 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  text-align: center;
  /*card-nav*/
}
.product-card:hover {
  box-shadow: 0 6px 47px 3px rgba(163, 187, 200, 0.35);
}
.product-card:hover .product-card__nav {
  opacity: 1;
}
.product-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.5s;
}
.product-card__img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card__wrap {
  width: 250px;
  height: 210px;
  margin-bottom: 50px;
}
.product-card__title {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 17px;
}
.product-card__price {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 700;
  color: #a3bbc8;
}
.product-card__nav {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.product-card:hover {
  opacity: 1;
}
.product-card__nav-item:not(:last-child) {
  margin-right: 15px;
}
.product-card__btn {
  width: 45px;
  height: 45px;
  box-shadow: 0 3px 15px 1px rgba(163, 187, 200, 0.8);
  background-color: #ffffff;
  transition: fill 0.3s;
}
.product-card__btn svg {
  width: 20px;
  height: 20px;
  fill: #a3bbc8;
}
.product-card__btn:hover {
  background-color: #a3bbc8;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
}
.product-card__btn:hover svg {
  fill: #ffffff;
}

/*footer*/
.footer {
  flex: 0 0 auto;
  padding: 100px 0 40px;
  font-size: 14px;
  color: #7b7b7b;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-bottom: 75px;
  border-bottom: 1px solid rgba(163, 187, 200, 0.4);
}
.footer__item {
  padding-top: 20px;
  width: 100%;
  max-width: 270px;
}
.footer__title {
  padding-top: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #1f2044;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.footer__text {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 35px;
}
.footer__box:not(:last-child) {
  margin-bottom: 10px;
}
.footer__link {
  font-family: "Rubik", "Tahoma", sans-serif;
  font-size: 14px;
  color: #7b7b7b;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: color 0.5s;
}
.footer__link:hover {
  color: #a3bbc8;
}
.footer__bottom {
  font-family: "Rubik", "Tahoma", sans-serif;
  display: flex;
  justify-content: space-between;
}
.footer__bottom .menu__link {
  font-weight: 400;
  font-size: 14px;
  transition: color 0.5s;
}
.footer__bottom .menu__link:hover {
  color: #a3bbc8;
}
.footer__bottom .menu__list:not(:first-child) {
  padding-left: 15px;
  border-left: 1px solid #7b7b7b;
}
.footer__bottom .menu__list:not(:last-child) {
  margin-right: 0;
  padding-right: 15px;
}
.footer__email {
  padding: 12px 15px;
  width: 100%;
  max-width: 170px;
  border: none;
  background-color: rgba(252, 215, 182, 0.2);
}
.footer__email::placeholder {
  font-size: 12px;
  color: #234969;
}
.footer__btn {
  padding: 12px 16px;
  border: none;
  color: #ffffff;
  background-color: #a3bbc8;
  transition: color 0.5s, background-color 0.5s;
  cursor: pointer;
}
.footer__btn:hover {
  background-color: #638ca2;
}
.footer .footer-address__item a {
  transition: color 0.5s;
}
.footer .footer-address__item a:hover {
  color: #a3bbc8;
}
.footer .footer-address__item:not(:last-child) {
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
