html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  background-color: $white;
  color: $blue500;
  font-family: $DMSans;
  font-weight: $fw400;

  /*&--scroll {
    padding-top: 70px;
  }*/
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  &--big {
    max-width: 1800px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  text-align: center;
  font-weight: $fw700;
  font-size: 36px;
  color: $black-title;

  @include line-clamp(1);

  @include adp($s) {
    font-size: 26px;
  }
}

button {
  padding: 0;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.button-filters {
  font-size: 0;
}

/*.main {
  &--scroll {
    padding-top: 115px;
  }
}*/

/*a {
  &:visited {
    color: $blue-dark;
  }
}*/

button,
a,
textarea,
input {
  outline: transparent;

  &:focus {
    border: 1px solid $blue500;
  }

  &:active {
    border: 1px solid $blue-dark;
  }
}

.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  transition: background-color 0.5s;
}

.body-stop-scroll {
  overflow: hidden;
}
.body--scroll {
  padding-top: 142px;

  @include adp($l) {
    padding-top: 92px;
  }

  @include adp($ml) {
    padding-top: 82px;
  }
}

