//colors
$blue-dark: #243f4d;
$blue500: #436372;
$peach: #fcd7b6;
$blue300: #a3bbc8;
$grey: #7b7b7b;
$white: #ffffff;
$black-title: #191919;
$black-subtitle: #1a1a1a;
$black-link: #262626;

//fonts
$Poppins: 'Poppins', 'Tahoma', sans-serif;
$DMSans: 'DMSans', 'Tahoma', sans-serif;
$Rubik: 'Rubik', 'Tahoma', sans-serif;
$fw400: 400;
$fw500: 500;
$fw700: 700;
