//colors
$blue-dark: #243f4d;
$blue900: #222933;
$blue-placeholder: #234969;
$blue500: #436372;
$peach: #fcd7b6;
$blue300: #a3bbc8;
$blue-border: #09316f;
$blue100: #edf1f4;
$blue700: #094074;

$grey-date: #9a9a9a;
$grey-icon: #888888;
$grey-btn: #f6f6f6;
$grey-position: #565872;
$grey: #7b7b7b;
$grey900: #4c4c4c;
$grey800: #414141;
$grey700: #585858;
$grey600: #8b8b8b;
$grey50: #f8f8f8;
$grey100: #b3b3b3;
$grey200: #f2f2f2;

$white: #ffffff;

$black-shadow: #373737;
$black-title: #191919;
$black-subtitle: #1a1a1a;
$black-link: #262626;
$black-title-another: #1f2044;
$black-recent: #333333;

//fonts
$Poppins: 'Poppins', 'Tahoma', sans-serif;
$DMSans: 'DMSans', 'Tahoma', sans-serif;
$Rubik: 'Rubik', 'Tahoma', sans-serif;
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw700: 700;

//breakpoints
$xl: 1200;
$l: 1024;
$ml: 996;
$m: 820;
$sm: 768;
$s: 540;

//function for fancybox
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
};
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
};
