//colors
$blue-dark: #243f4d;
$blue900: #222933;
$blue-placeholder: #234969;
$blue500: #436372;
$peach: #fcd7b6;
$blue300: #a3bbc8;

$grey: #7b7b7b;
$grey800: #414141;
$grey700: #585858;
$grey600: #8b8b8b;
$grey50: #f8f8f8;

$white: #ffffff;

$black-title: #191919;
$black-subtitle: #1a1a1a;
$black-link: #262626;
$black-title-another: #1f2044;

//fonts
$Poppins: 'Poppins', 'Tahoma', sans-serif;
$DMSans: 'DMSans', 'Tahoma', sans-serif;
$Rubik: 'Rubik', 'Tahoma', sans-serif;
$fw400: 400;
$fw500: 500;
$fw700: 700;

//breakpoints
$xl: 1200;
$l: 1024;
$ml: 996;
$m: 800;
$sm: 768;
$s: 540;

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
};
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
};
