@mixin line-clamp($property) {
  -webkit-line-clamp: $property;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin  hover-link {
  transition: color 0.5s, transform 0.5s;

  &:hover {
    color: $blue300;
  }
}

@mixin adp($width) {
  @media only screen and (max-width: $width+ "px") {
    @content;
  }
}

