<section class="hero-slider">
    <h2 class="visually-hidden">Section with slider, which contains our best proposals</h2>
    <div class="container container--big">
        <ul class="hero-slider__items">
            <li class="hero-slider__item">
                <div class="container">
                    <div class="hero-slider__inner">
                        <div class="hero-slider__info">
                            <div class="hero-slider__descr">
                                <p>Smart and trendy</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, nostrum, praesentium.</p>
                            <a class="hero-slider__link" href="#">
                                <span>Shop now</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                        <img class="hero-slider__img" src="images/img-slider.png" alt="sofa image">
                    </div>
                </div>
            </li>

            <li class="hero-slider__item">
                <div class="container">
                    <div class="hero-slider__inner">
                        <div class="hero-slider__info">
                            <div class="hero-slider__descr">
                                <p>Smart and trendy</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, nostrum, praesentium.</p>
                            <a class="hero-slider__link" href="#">
                                <span>Shop now</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                        <img class="hero-slider__img" src="images/img-slider.png" alt="sofa image">
                    </div>
                </div>
            </li>

            <li class="hero-slider__item">
                <div class="container">
                    <div class="hero-slider__inner">
                        <div class="hero-slider__info">
                            <div class="hero-slider__descr">
                                <p>Smart and trendy</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, nostrum, praesentium.</p>
                            <a class="hero-slider__link" href="#">
                                <span>Shop now</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                        <img class="hero-slider__img" src="images/img-slider.png" alt="sofa image">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>