<section class="products-week">
  <div class="container">
    <h2 class="products-week__title title">Products of the week</h2>

    <ul class="products-filter">
      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter="all">All</button>
      </li>
      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".furnitures">Furnitures</button>
      </li>
      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".chairs">Chairs</button>
      </li>
      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".lighting">Lighting</button>
      </li>
      <li class="products-filter__item">
        <button class="products-filter__btn" type="button" data-filter=".decor">Decor</button>
      </li>
    </ul>

    <ul class="products-week__items">
      <li class="products-week__list mix furnitures">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <span class="visually-hidden">click on this link opens the product card</span>
          </a>
          <div class="product-card__wrap">
            <img class="product-card__img" src="images/cards/1.png" alt="card image">
          </div>
          <h3 class="product-card__title">Wooden radio</h3>
          <p class="product-card__price"><span>$</span>29.00</p>
          <ul class="product-card__nav">
            <li class="product-card__nav-item">
              <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                <span class="visually-hidden">click on this link opens the search menu</span>
                <svg>
                  <use xlink:href="images/sprite.svg#search-icon"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                <span class="visually-hidden">click on this button add item to your cart</span>
                <svg>
                  <use xlink:href="images/sprite.svg#cart-icon"></use>
                </svg>
              </button>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                <span class="visually-hidden">click on this button add item to your favorites</span>
                <svg>
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
        </article>
      </li>

      <li class="products-week__list mix chairs">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <span class="visually-hidden">click on this link opens the product card</span>
          </a>
          <div class="product-card__wrap">
            <img class="product-card__img" src="images/cards/2.png" alt="card image">
          </div>
          <h3 class="product-card__title">Wooden chair</h3>
          <p class="product-card__price"><span>$</span>29.00</p>
          <ul class="product-card__nav">
            <li class="product-card__nav-item">
              <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                <span class="visually-hidden">click on this link opens the search menu</span>
                <svg>
                  <use xlink:href="images/sprite.svg#search-icon"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                <span class="visually-hidden">click on this button add item to your cart</span>
                <svg>
                  <use xlink:href="images/sprite.svg#cart-icon"></use>
                </svg>
              </button>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                <span class="visually-hidden">click on this button add item to your favorites</span>
                <svg>
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
        </article>
      </li>

      <li class="products-week__list mix lighting">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <span class="visually-hidden">click on this link opens the product card</span>
          </a>
          <div class="product-card__wrap">
            <img class="product-card__img" src="images/cards/3.png" alt="card image">
          </div>
          <h3 class="product-card__title">White chair</h3>
          <p class="product-card__price"><span>$</span>29.00</p>
          <ul class="product-card__nav">
            <li class="product-card__nav-item">
              <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                <span class="visually-hidden">click on this link opens the search menu</span>
                <svg>
                  <use xlink:href="images/sprite.svg#search-icon"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                <span class="visually-hidden">click on this button add item to your cart</span>
                <svg>
                  <use xlink:href="images/sprite.svg#cart-icon"></use>
                </svg>
              </button>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                <span class="visually-hidden">click on this button add item to your favorites</span>
                <svg>
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
        </article>
      </li>

      <li class="products-week__list mix decor">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <span class="visually-hidden">click on this link opens the product card</span>
          </a>
          <div class="product-card__wrap">
            <img class="product-card__img" src="images/cards/4.png" alt="card image">
          </div>
          <h3 class="product-card__title">Retro table</h3>
          <p class="product-card__price"><span>$</span>29.00</p>
          <ul class="product-card__nav">
            <li class="product-card__nav-item">
              <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                <span class="visually-hidden">click on this link opens the search menu</span>
                <svg>
                  <use xlink:href="images/sprite.svg#search-icon"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                <span class="visually-hidden">click on this button add item to your cart</span>
                <svg>
                  <use xlink:href="images/sprite.svg#cart-icon"></use>
                </svg>
              </button>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                <span class="visually-hidden">click on this button add item to your favorites</span>
                <svg>
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
        </article>
      </li>

      <li class="products-week__list mix furnitures">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <span class="visually-hidden">click on this link opens the product card</span>
          </a>
          <div class="product-card__wrap">
            <img class="product-card__img" src="images/cards/5.png" alt="card image">
          </div>
          <h3 class="product-card__title">Wooden radio</h3>
          <p class="product-card__price"><span>$</span>29.00</p>
          <ul class="product-card__nav">
            <li class="product-card__nav-item">
              <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                <span class="visually-hidden">click on this link opens the search menu</span>
                <svg>
                  <use xlink:href="images/sprite.svg#search-icon"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                <span class="visually-hidden">click on this button add item to your cart</span>
                <svg>
                  <use xlink:href="images/sprite.svg#cart-icon"></use>
                </svg>
              </button>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                <span class="visually-hidden">click on this button add item to your favorites</span>
                <svg>
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
        </article>
      </li>

      <li class="products-week__list mix chairs">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <span class="visually-hidden">click on this link opens the product card</span>
          </a>
          <div class="product-card__wrap">
            <img class="product-card__img" src="images/cards/6.png" alt="card image">
          </div>
          <h3 class="product-card__title">Wooden chair</h3>
          <p class="product-card__price"><span>$</span>29.00</p>
          <ul class="product-card__nav">
            <li class="product-card__nav-item">
              <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                <span class="visually-hidden">click on this link opens the search menu</span>
                <svg>
                  <use xlink:href="images/sprite.svg#search-icon"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                <span class="visually-hidden">click on this button add item to your cart</span>
                <svg>
                  <use xlink:href="images/sprite.svg#cart-icon"></use>
                </svg>
              </button>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                <span class="visually-hidden">click on this button add item to your favorites</span>
                <svg>
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
        </article>
      </li>

      <li class="products-week__list mix lighting">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <span class="visually-hidden">click on this link opens the product card</span>
          </a>
          <div class="product-card__wrap">
            <img class="product-card__img" src="images/cards/7.png" alt="card image">
          </div>
          <h3 class="product-card__title">White chair</h3>
          <p class="product-card__price"><span>$</span>29.00</p>
          <ul class="product-card__nav">
            <li class="product-card__nav-item">
              <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                <span class="visually-hidden">click on this link opens the search menu</span>
                <svg>
                  <use xlink:href="images/sprite.svg#search-icon"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                <span class="visually-hidden">click on this button add item to your cart</span>
                <svg>
                  <use xlink:href="images/sprite.svg#cart-icon"></use>
                </svg>
              </button>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                <span class="visually-hidden">click on this button add item to your favorites</span>
                <svg>
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
        </article>
      </li>

      <li class="products-week__list mix decor">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <span class="visually-hidden">click on this link opens the product card</span>
          </a>
          <div class="product-card__wrap">
            <img class="product-card__img" src="images/cards/8.png" alt="card image">
          </div>
          <h3 class="product-card__title">Retro table</h3>
          <p class="product-card__price"><span>$</span>29.00</p>
          <ul class="product-card__nav">
            <li class="product-card__nav-item">
              <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                <span class="visually-hidden">click on this link opens the search menu</span>
                <svg>
                  <use xlink:href="images/sprite.svg#search-icon"></use>
                </svg>
              </a>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                <span class="visually-hidden">click on this button add item to your cart</span>
                <svg>
                  <use xlink:href="images/sprite.svg#cart-icon"></use>
                </svg>
              </button>
            </li>
            <li class="product-card__nav-item">
              <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                <span class="visually-hidden">click on this button add item to your favorites</span>
                <svg>
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </li>
          </ul>
        </article>
      </li>
    </ul>
  </div>

  <div class="offers">
    <h2 class="visually-hidden">Our offers</h2>
    <div class="container container--big">
      <ul class="offers__items">
        <li class="offers__item">
          <article class="offer-card">
            <div class="offer-card__wrap">
              <img class="offer-card__img" src="images/offer/1.png" alt="offer image">
            </div>
            <div class="offer-card__info">
              <h3 class="offer-card__title">Mirum Notare Tellus</h3>
              <div class="offer-card__desrc">
                <p>LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight</p>
              </div>
              <a class="offer-card__link" href="#">
                <span>View More</span>
                <svg>
                  <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </article>
        </li>

        <li class="offers__item">
          <article class="offer-card">
            <div class="offer-card__wrap">
              <img class="offer-card__img" src="images/offer/2.png" alt="offer image">
            </div>
            <div class="offer-card__info">
              <h3 class="offer-card__title">Malesuada Tempor Euismod</h3>
              <div class="offer-card__desrc">
                <p>50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight</p>
              </div>
              <a class="offer-card__link" href="#">
                <span>View More</span>
                <svg>
                  <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>