<section class="product-slider">
    <h2 class="visually-hidden">Section with slider, which contains our best proposals</h2>
    <div class="container container--big">
        <ul class="product-slider__items">
            <li class="product-slider__item">
                <div class="container">
                    <div class="product-slider__inner">
                        <div class="product-slider__info">
                            <div class="product-slider__name">
                                <p>Smart and trendy</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, nostrum, praesentium.</p>
                            <a class="product-slider__link" href="#">
                                <span>Shop now</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="product-slider__wrap">
                            <img class="product-slider__img" src="images/img-slider.png" alt="sofa image">
                        </div>
                    </div>
                </div>
            </li>

            <li class="product-slider__item">
                <div class="container">
                    <div class="product-slider__inner">
                        <div class="product-slider__info">
                            <div class="product-slider__name">
                                <p>Smart and trendy</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, nostrum, praesentium.</p>
                            <a class="product-slider__link" href="#">
                                <span>Shop now</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="product-slider__wrap">
                            <img class="product-slider__img" src="images/img-slider.png" alt="sofa image">
                        </div>
                    </div>
                </div>
            </li>

            <li class="product-slider__item">
                <div class="container">
                    <div class="product-slider__inner">
                        <div class="product-slider__info">
                            <div class="product-slider__name">
                                <p>Smart and trendy</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, nostrum, praesentium.</p>
                            <a class="product-slider__link" href="#">
                                <span>Shop now</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="product-slider__wrap">
                            <img class="product-slider__img" src="images/img-slider.png" alt="sofa image">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>