.offers {
  &__items {
    display: flex;
    justify-content: space-between;
    padding-top: 126px;
    @include adp($l) {
      padding-top: 0;
    }

    @include adp($ml) {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex-grow: 1;
    max-width: 870px;
    max-height: 390px;
    background-color: rgba($peach, 0.4);

    &:not(:last-child) {
      margin-right: 30px;

      @include adp($l) {
        margin-right: 0;
      }
      @include adp($ml) {
        border-bottom: 1px solid $blue-dark;
      }
    }

    @include adp($l) {
      max-width: 490px;
    }

    @include adp($ml) {
      max-width: none;
      padding: 10px 0;
    }
  }
}

