.products-filter {
  font-weight: $fw700;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @include adp($l) {
    margin-bottom: 30px;
  }

  @include adp($s) {
    flex-direction: column;
    text-align: center;
  }

  .mixitup-control-active {
    color: $black-subtitle;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include adp($s) {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }

  &__btn {
    color: $grey600;
    transition: color 0.5s ease;
    &:hover {
      color: $black-subtitle;
    }

    @include adp($l) {
      font-size: 18px;
    }
  }
}