.products-week {
  margin-bottom: 90px;

  @include adp($l) {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__list {
    margin: 0 15px 40px;
    width: calc(100% / 4 - 30px);

    @include adp($l) {
      margin-bottom: 20px;
    }

    @include adp($ml) {
      width: calc(100% / 3 - 30px);
    }

    @include adp($sm) {
      width: calc(100% / 2 - 30px);
    }

    @include adp($s) {
      margin: 0 10px 20px;
    }
  }
}