.products-week {
  margin-bottom: 180px;

  &__title {
    text-align: center;
    font-weight: $fw700;
    font-size: 36px;
    color: #191919;

    @include line-clamp(1);
  }

  &__filter {
    font-weight: $fw700;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__btn {
    padding: 0;
    color: #8b8b8b;
    transition: color 0.5s ease;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
      color: #1a1a1a;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }

  &__list {
    margin-right: 30px;
    margin-bottom: 40px;
    max-width: 270px;
  }
}