.partners {
  background-color: rgba($peach, 0.2);
  padding: 92px 0;
  z-index: 1;

  &__items {
    display: flex;
  }

  &__list {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 200px;
  }

  &__img {
    width: auto;
    height: auto;
    margin: auto;
  }

}
