.product-card {
  padding: 27px 15px 38px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.1);
  text-align: center;
  transition: box-shadow 0.5s;

  @include adp($l) {
    padding: 20px 15px 30px;
  }

  @include adp($s) {
    padding: 5px 0;
  }

  &:hover {
    box-shadow: 0 6px 47px 3px rgba(163, 187, 200, 0.35);

    .product-card__nav {
      opacity: 1;
      visibility: visible;
    }
  }

  &__link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__wrap {
    width: 250px;
    height: 210px;
    margin-bottom: 50px;

    @include adp($xl) {
      width: 210px;
      margin-bottom: 20px;
    }

    @include adp($sm) {
      margin: 0 auto 10px;
    }
  }

  &__img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    @include line-clamp(1);

    font-weight: $fw500;
    font-size: 16px;
    margin-bottom: 17px;

    @include adp($l) {
      font-size: 20px;
      margin-bottom: 10px;
    }

    @include adp($sm) {
      font-size: 24px;
    }

    @include adp($sm) {
      margin-bottom: 5px;
      font-size: 20px;
      @include line-clamp(2);
    }
  }

  &__price {
    @include line-clamp(1);

    font-weight: $fw700;
    color: $blue300;

    @include adp($l) {
      font-size: 16px;
    }

    @include adp($sm) {
      font-size: 20px;
    }
  }

  /*card-nav*/

  &__nav {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

    @include adp($ml) {
      opacity: 1;
      visibility: visible;
      top: 65%;
    }
  }

  &:hover {
    opacity: 1;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__btn {
    width: 45px;
    height: 45px;
    box-shadow: 0 3px 15px 1px rgba(163, 187, 200, 0.8);
    background-color: $white;
    transition: box-shadow 0.5s, background-color 0.5s;

    svg {
      width: 20px;
      height: 20px;
      fill: $blue300;
      transition: fill 0.5s;
    }

    &:hover {
      background-color: $blue300;
      box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
      svg {
        fill: $white;
      }
    }
  }
}
