.catalog {
  display: flex;

  &__main {
    max-width: 900px;
  }

  &__aside-wrap {
    margin-right: 30px;
    max-width: 270px;
    width: 100%;

    @include adp($l) {
      width: inherit;
      margin-right: 0;
    }
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($blue-dark, 0.9);

    &__active {
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }
  }
}