<header class="header">
    <h1 class="visually-hidden">Glee it`s online furniture shop</h1>
    <div class="container container--big">
        <nav class="header__inner">
            <a class="logo" href="#">
                <img class="logo__img" src="images/logo.png" alt="Glee logo">
            </a>

            <ul class="menu header__menu">
                <li class="menu__list">
                    <a class="menu__link" href="#" target="_blank">Home<span>+</span></a>
                </li>
                <li class="menu__list">
                    <a class="menu__link" href="#" target="_blank">About</a>
                </li>
                <li class="menu__list">
                    <a class="menu__link" href="#" target="_blank">Services</a>
                </li>
                <li class="menu__list">
                    <a class="menu__link" href="#" target="_blank">Pages<span>+</span></a>
                </li>
                <li class="menu__list">
                    <a class="menu__link" href="#" target="_blank">News</a>
                </li>
                <li class="menu__list">
                    <a class="menu__link" href="#" target="_blank">Contact</a>
                </li>
            </ul>

            <div class="user-nav">
                <button class="btn-circle user-nav__btn user-nav__btn--search" type="button">
                    <span class="visually-hidden">click on this button opens the search menu</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>

                </button>

                <div class="user-nav__items">
                    <a class="user-nav__link user-nav__link--like" href="#">
                        <span class="visually-hidden">click on this link opens the page with items your liked before</span>
                        <svg>
                            <use xlink:href="images/sprite.svg#like-icon"></use>
                        </svg>
                        <span class="user-nav__count">0</span>
                    </a>

                    <a class="user-nav__link user-nav__link--cart" href="#">
                        <span class="visually-hidden">click on this link opens the page with your cart</span>
                        <svg>
                            <use xlink:href="images/sprite.svg#cart-icon"></use>
                        </svg>
                        <span class="user-nav__count">0</span>
                    </a>
                </div>

                <button class="btn-circle user-nav__btn user-nav__btn--menu" type="button">
                    <span class="visually-hidden">click on this button opens the menu</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#menu-icon"></use>
                    </svg>
                </button>
            </div>

            <button class="header__button" type="button">
                <span class="visually-hidden">click on this button opens menu with navigation links</span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
</header>