<ul class="aside-filters">
    <li class="aside-filters__wrap">
        <aside class="aside-filters__item aside-category">
            <h2 class="aside-filters__title">category</h2>
            <form class="aside-category__form aside-filters__form">
                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox" checked>
                    <span class="aside-category__checkbox">Chair</span>
                </label>

                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox">
                    <span class="aside-category__checkbox">Table</span>
                </label>

                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox">
                    <span class="aside-category__checkbox">Lamp</span>
                </label>

                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox">
                    <span class="aside-category__checkbox">Watch</span>
                </label>

                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox">
                    <span class="aside-category__checkbox">Clock</span>
                </label>
            </form>
        </aside>
    </li>

    <li class="aside-filters__wrap">
        <aside class="aside-filters__item aside-price">
            <h2 class="aside-filters__title aside-price__title">price</h2>
            <form class="aside-price__form aside-filters__form">
                <input class="aside-price__input" type="range">
                <div class="aside-price__price">
                    <span class="aside-price__from">$</span>
                    <span class="aside-price__to">$</span>
                </div>
            </form>
        </aside>
    </li>

    <li class="aside-filters__wrap">
        <aside class="aside-filters__item aside-brands">
            <h2 class="aside-filters__title">Brand</h2>
            <form class="aside-brands__form aside-filters__form">
                <label class="aside-brands__label">
                    <input class="aside-brands__input visually-hidden" type="checkbox" checked>
                    <span class="aside-brands__checkbox">
                    <span>RFL</span>
                    <span>(10)</span>
                </span>
                </label>

                <label class="aside-brands__label">
                    <input class="aside-brands__input visually-hidden" type="checkbox">
                    <span class="aside-brands__checkbox">
                    <span>Brothers</span>
                    <span>(21)</span>
                </span>
                </label>

                <label class="aside-brands__label">
                    <input class="aside-brands__input visually-hidden" type="checkbox">
                    <span class="aside-brands__checkbox">
                    <span>Regal</span>
                    <span>(3)</span>
                </span>
                </label>

                <label class="aside-brands__label">
                    <input class="aside-brands__input visually-hidden" type="checkbox">
                    <span class="aside-brands__checkbox">
                    <span>Nadia</span>
                    <span>(14)</span>
                </span>
                </label>

                <label class="aside-brands__label">
                    <input class="aside-brands__input visually-hidden" type="checkbox">
                    <span class="aside-brands__checkbox">
                    <span>Otobi</span>
                    <span>(6)</span>
                </span>
                </label>
            </form>
        </aside>
    </li>

    <li class="aside-filters__wrap">
        <aside class="aside-filters__item aside-recent">
            <h2 class="aside-filters__title aside-recent__title">recent products</h2>
            <ul class="aside-recent__list aside-filters__form">
                <li class="aside-recent__item">
                    <a class="aside-recent__link" href="#">
                        <span class="visually-hidden">click on this link opens the product card</span>
                    </a>
                    <div class="aside-recent__box">
                        <img class="aside-recent__img" src="images/recent/1.png" alt="product image">
                    </div>
                    <div class="aside-recent__info">
                        <h3 class="aside-recent__subtitle">Pendant lamp</h3>
                        <div class="aside-recent__rating"></div>
                        <span class="aside-recent__price">23<span>$</span></span>
                    </div>
                </li>

                <li class="aside-recent__item">
                    <a class="aside-recent__link" href="#">
                        <span class="visually-hidden">click on this link opens the product card</span>
                    </a>
                    <div class="aside-recent__box">
                        <img class="aside-recent__img" src="images/recent/2.png" alt="product image">
                    </div>
                    <div class="aside-recent__info">
                        <h3 class="aside-recent__subtitle">Pendant lamp</h3>
                        <div class="aside-recent__rating"></div>
                        <span class="aside-recent__price">23<span>$</span></span>
                    </div>
                </li>

                <li class="aside-recent__item">
                    <a class="aside-recent__link" href="#">
                        <span class="visually-hidden">click on this link opens the product card</span>
                    </a>
                    <div class="aside-recent__box">
                        <img class="aside-recent__img" src="images/recent/3.png" alt="product image">
                    </div>
                    <div class="aside-recent__info">
                        <h3 class="aside-recent__subtitle">Pendant lamp</h3>
                        <div class="aside-recent__rating"></div>
                        <span class="aside-recent__price">23<span>$</span></span>
                    </div>
                </li>
            </ul>
        </aside>
    </li>
</ul>