<section class="catalog-cards">

    <div class="catalog-cards__inner">
        <ul class="catalog-cards__nav">
            <span>View</span>
            <li class="catalog-cards__display">
                <button class="catalog-cards__btn button-grid" type="button">
                    <span class="visually-hidden">this button change view of products on grid</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#grid"></use>
                    </svg>
                </button>
            </li>
            <li class="catalog-cards__display">
                <button class="catalog-cards__btn button-list" type="button">
                    <span class="visually-hidden">this button change view of products on list</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#list"></use>
                    </svg>
                </button>
            </li>
        </ul>

        <div class="catalog-cards__filters">
            <span>Filters</span>
            <button class="button-filters" type="button">
                <svg>
                    <use xlink:href="images/sprite.svg#filters"></use>
                </svg>
            </button>
        </div>
    </div>

    <ul class="catalog-cards__list">
        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

        <li class="catalog-cards__item">
            <article class="product-card">
                <a class="product-card__link" href="#">
                    <span class="visually-hidden">click on this link opens the product card</span>
                </a>
                <div class="product-card__wrap">
                    <img class="product-card__img" src="images/cards/1.png" alt="card image">
                </div>
                <div class="product-card__box">
                    <h3 class="product-card__title">Wooden radio</h3>
                    <div class="product-card__rating"></div>
                    <p class="product-card__price"><span>$</span>29.00</p>
                    <div class="product-card__descr">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <ul class="product-card__nav">
                        <li class="product-card__nav-item">
                            <a class="btn-circle product-card__btn product-card__btn--search" href="#">
                                <span class="visually-hidden">click on this link opens the detailed description</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--cart" type="button">
                                <span class="visually-hidden">click on this button add item to your cart</span>
                                <span class="product-card__btn-text">add to card</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#cart-icon"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="product-card__nav-item">
                            <button class="btn-circle product-card__btn product-card__btn--like" type="button">
                                <span class="visually-hidden">click on this button add item to your favorites</span>
                                <span class="product-card__btn-text">add to favorites</span>
                                <svg>
                                    <use xlink:href="images/sprite.svg#like-icon"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </li>

    </ul>

    <div class="pagination">
        <ul class="pagination__list ">
            <li class="pagination__item">
                <span class="pagination__link pagination__link--active" href="#">
                    1
                    <span class="visually-hidden">this link opens the first page of our catalog</span>
                </span>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">
                    2
                    <span class="visually-hidden">this link opens the second page of our catalog</span>
                </a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">
                    3
                    <span class="visually-hidden">this link opens the third page of our catalog</span>
                </a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">
                    Next
                    <span class="visually-hidden">this link opens the next page of our catalog</span>
                </a>
            </li>
        </ul>
    </div>
</section>