<ul class="aside-filters">

    <li class="aside-filters__wrap">
        <aside class="aside-filters__item aside-search">
            <form class="aside-search__form aside-filters__form">
                <label class="visually-hidden" for="text-input">Enter text</label>
                <input class="aside-search__input" type="search" required id="text-input"/>
                <button class="aside-search__btn" type="submit">
                    <span class="visually-hidden">click on this link opens the search menu</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>
                </button>
            </form>
        </aside>
    </li>

    <li class="aside-filters__wrap">
        <aside class="aside-filters__item aside-category">
            <h2 class="aside-filters__title">category</h2>
            <form class="aside-category__form aside-filters__form">
                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox" checked>
                    <span class="aside-category__checkbox">Chair</span>
                </label>

                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox">
                    <span class="aside-category__checkbox">Table</span>
                </label>

                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox">
                    <span class="aside-category__checkbox">Lamp</span>
                </label>

                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox">
                    <span class="aside-category__checkbox">Watch</span>
                </label>

                <label class="aside-category__label">
                    <input class="aside-category__input visually-hidden" type="checkbox">
                    <span class="aside-category__checkbox">Clock</span>
                </label>
            </form>
        </aside>
    </li>

    <li class="aside-filters__wrap">
        <aside class="aside-filters__item aside-recent">
            <h2 class="aside-filters__title aside-recent__title">recent posts</h2>
            <ul class="aside-recent__list aside-filters__form">
                <li class="aside-recent__item">
                    <a class="aside-recent__link" href="#">
                        <span class="visually-hidden">click on this link opens the detailed description</span>
                    </a>
                    <div class="aside-recent__box">
                        <img class="aside-recent__img" src="images/blog/preview/1.jpg" alt="post preview">
                    </div>
                    <div class="aside-recent__info">
                        <h3 class="aside-recent__subtitle">Corem ipsum dolor tetur adipisicing elit</h3>
                        <time class="aside-recent__date" datetime="2020-01-28">28 january, 2020</time>
                    </div>
                </li>

                <li class="aside-recent__item">
                    <a class="aside-recent__link" href="#">
                        <span class="visually-hidden">click on this link opens the detailed description</span>
                    </a>
                    <div class="aside-recent__box">
                        <img class="aside-recent__img" src="images/blog/preview/2.jpg" alt="post preview">
                    </div>
                    <div class="aside-recent__info">
                        <h3 class="aside-recent__subtitle">Fdipisicing elit, sed do eiusmod tempor</h3>
                        <time class="aside-recent__date" datetime="2020-01-28">28 january, 2020</time>
                    </div>
                </li>

                <li class="aside-recent__item">
                    <a class="aside-recent__link" href="#">
                        <span class="visually-hidden">click on this link opens the detailed description</span>
                    </a>
                    <div class="aside-recent__box">
                        <img class="aside-recent__img" src="images/blog/preview/3.jpg" alt="post preview">
                    </div>
                    <div class="aside-recent__info">
                        <h3 class="aside-recent__subtitle">Eonsectetur adipisicing elit, sed do eiusmod</h3>
                        <time class="aside-recent__date" datetime="2020-01-28">28 january, 2020</time>
                    </div>
                </li>

                <li class="aside-recent__item">
                    <a class="aside-recent__link" href="#">
                        <span class="visually-hidden">click on this link opens the detailed description</span>
                    </a>
                    <div class="aside-recent__box">
                        <img class="aside-recent__img" src="images/blog/preview/4.jpg" alt="post preview">
                    </div>
                    <div class="aside-recent__info">
                        <h3 class="aside-recent__subtitle">gnim ad minim veniam, quis nostrud</h3>
                        <time class="aside-recent__date" datetime="2020-01-28">28 january, 2020</time>
                    </div>
                </li>
            </ul>
        </aside>
    </li>
</ul>