<div class="blog-list__filters">
    <span>Filters</span>
    <button class="button-filters" type="button">
        <svg>
            <use xlink:href="images/sprite.svg#filters"></use>
        </svg>
    </button>
</div>

<ul class="blog-list__inner">
    <li class="blog-list__item">
        <article class="blog-card">
            <a class="blog-card__link" href="#">
                <span class="visually-hidden">click on this link opens the detailed description</span>
            </a>
            <div class="blog-card__wrap">
                <img class="blog-card__img" src="images/blog/1.png" alt="insights image">
                <div class="blog-card__bottom">
                    <time class="blog-card__descr blog-card__descr--time" datetime="2020-01-28">28 january, 2020</time>
                    <a class="blog-card__descr blog-card__descr--author" href="#">by admin</a>
                </div>
            </div>
            <div class="blog-card__info">
                <h3 class="blog-card__title">Fonsectetur adipisicing eiusmod</h3>
                <div class="blog-card__text">
                    <p>
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    </p>
                </div>
                <a class="blog-card__sublink" href="#">
                    <span>View More</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </article>
    </li>

    <li class="blog-list__item">
        <article class="blog-card">
            <a class="blog-card__link" href="#">
                <span class="visually-hidden">click on this link opens the detailed description</span>
            </a>
            <div class="blog-card__wrap">
                <img class="blog-card__img" src="images/blog/2.png" alt="insights image">
                <div class="blog-card__bottom">
                    <time class="blog-card__descr blog-card__descr--time" datetime="2020-01-28">28 january, 2020</time>
                    <a class="blog-card__descr blog-card__descr--author" href="#">by admin</a>
                </div>
            </div>
            <div class="blog-card__info">
                <h3 class="blog-card__title">Fonsectetur adipisicing eiusmod</h3>
                <div class="blog-card__text">
                    <p>
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    </p>
                </div>
                <a class="blog-card__sublink" href="#">
                    <span>View More</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </article>
    </li>

    <li class="blog-list__item">
        <article class="blog-card">
            <a class="blog-card__link" href="#">
                <span class="visually-hidden">click on this link opens the detailed description</span>
            </a>
            <div class="blog-card__wrap">
                <img class="blog-card__img" src="images/blog/3.png" alt="insights image">
                <div class="blog-card__bottom">
                    <time class="blog-card__descr blog-card__descr--time" datetime="2020-01-28">28 january, 2020</time>
                    <a class="blog-card__descr blog-card__descr--author" href="#">by admin</a>
                </div>
            </div>
            <div class="blog-card__info">
                <h3 class="blog-card__title">Fonsectetur adipisicing eiusmod</h3>
                <div class="blog-card__text">
                    <p>
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    </p>
                </div>
                <a class="blog-card__sublink" href="#">
                    <span>View More</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </article>
    </li>

    <li class="blog-list__item">
        <article class="blog-card">
            <a class="blog-card__link" href="#">
                <span class="visually-hidden">click on this link opens the detailed description</span>
            </a>
            <div class="blog-card__wrap">
                <img class="blog-card__img" src="images/blog/4.png" alt="insights image">
                <div class="blog-card__bottom">
                    <time class="blog-card__descr blog-card__descr--time" datetime="2020-01-28">28 january, 2020</time>
                    <a class="blog-card__descr blog-card__descr--author" href="#">by admin</a>
                </div>
            </div>
            <div class="blog-card__info">
                <h3 class="blog-card__title">Fonsectetur adipisicing eiusmod</h3>
                <div class="blog-card__text">
                    <p>
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    </p>
                </div>
                <a class="blog-card__sublink" href="#">
                    <span>View More</span>
                    <svg>
                        <use xlink:href="images/sprite.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </article>
    </li>
</ul>

<div class="pagination">
    <ul class="pagination__list ">
        <li class="pagination__item">
                <span class="pagination__link pagination__link--active">
                    1
                    <span class="visually-hidden">this link opens the first page of our catalog</span>
                </span>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">
                2
                <span class="visually-hidden">this link opens the second page of our catalog</span>
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">
                3
                <span class="visually-hidden">this link opens the third page of our catalog</span>
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">
                Next
                <span class="visually-hidden">this link opens the next page of our catalog</span>
            </a>
        </li>
    </ul>
</div>